.card_super_container {
    height: calc(100% - 75px);
    padding: 5px 0 0 5px;
    overflow-y: hidden;
    /*background: #f0f4f5;*/
    background: #fafafa;
}

.card_container {
    float: left;
    margin-right: 10px;
    color: #6b808c !important;
    /*color: #17394d;*/
    background: #dfe3e6;
    height: calc(100% - 30px);
    width: 272px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
}

.pure {
    height: auto !important;
}

.card_header {
    padding: 5px 7px 3px 7px;
    overflow: hidden;
}

.card_header h2 {
    margin: 5px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    float: left;
    font-weight: 400;
}

.card_menu {
    display: block;
    width: 32px;
    height: 32px;
    float: right;
    position: relative;
    border-radius: 3px;
}

.card_menu span, .card_menu span::before, .card_menu span::after {
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #6b808c;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
}

.card_menu span::before {
    top: -0.5px;
    left: 8px;
}

.card_menu span::after {
    top: -0.5px;
    left: -8px;
}

.card_menu:hover {
    background: rgba(9, 45, 66, 0.13);
}

.card_content {
    height: calc(100% - 80px);
    background: transparent;
    margin-left: 4px;
    padding-right: 8px;
    position: relative;
    border-radius: 5px;
}

.card {
    margin-top: 5px;
    border-radius: 5px;
    background: #fff;
    height: 500px;
}

.card:first-child {
    margin-top: 0;
}

.add_div {
    display: block;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.add_div:hover {
    background: rgba(9, 45, 66, 0.13);
    text-decoration: underline;
}